.experience__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience__job-title {
  font-size: 2.4rem;
}

.experience__company-name {
  font-style: italic;
  text-transform: capitalize;
}

.experience__details {
  display: flex;
  gap: 2rem;
}

.experience__detail {
  align-items: center;
  color: #7a7a7a;
  display: flex;
  font-weight: 200;
  font-size: 14px;
}

.experience__detail .material-icons {
  font-size: 14px;
  margin-right: 5px;
}

.experience__tasks {
  margin-top: 1rem;
}

.experience__bullet-point {
  display: inline-block;
  width: 5px;
  background-color: #636363;
  flex-shrink: 0;
}

.experience__task {
  background-color: #1a1a1a;
  margin-bottom: 1rem;
  display: flex;
  transition: all 0.3s;
  border-radius: 0 1.5rem 1.5rem 0;
}

.experience__task p {
  padding: 1rem 2rem;
}
