.profile-container {
  background-color: #141414;
  height: 100vh;
  padding: 4rem 8rem;
  border-radius: 0 1.5rem 1.5rem 0;

}

.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.profile__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #7a7a7a;
}

.profile__icon {
  display: block;
}

.profile__greeting {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
}

.profile__bio {
  font-size: 3rem;
  font-weight: 300;
  margin: 2rem 0 0 0;
}
.profile__bio b {
  font-weight: 700;
}

.profile__footer {
  align-items: center;
  border-top: 1px solid #3b3b3b;
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

.profile__noname {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.profile__portrait {
  border-radius: 5rem;
  height: 5rem;
  object-fit: cover;
  width: 5rem;
}

.profile__location {
  font-size: 1.4rem;
  font-weight: 300;
  color: #7a7a7a;
}

.profile__socials {
  display: flex;
  gap: 1.1rem;
}

.profile__social {
  color: #636363;
}
